fastapi[standard]
currencyconverter
motor
python-jose
pytest
pytest-cov
pre-commit
isort
PyJWT
black
pylint
mypy
bandit
pandas-stubs
types-python-jose
types-openpyxl
matplotlib
pandas
pandas-stubs
reportlab
python-telegram-bot
requests
openpyxl
python-telegram-bot-calendar
python-telegram-bot-pagination
watchdog==3.0.0
google.generativeai
PIL
aiohttp